<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../pwi-save/pwi-save.html">

<style>
	.cf:before, .cf:after{
  		content: '';
		display: table;
	}
	.cf:after{
  		clear: both;
	}
	.panel{
		width:450px;
	}
	.panel-heading{
		padding: 10px;
		background-color: rgba(52, 152, 219,0.7);
	}
	.dashline{
		float: right;
	}
	.panel-body{
		padding: 10px;
		background-color: rgba(52, 152, 219, 1.0);
	}
	.txtImput{
		width: 300px;
		border: solid 1px #8e44ad;
		border-radius: 5px;
		margin: 0 auto;
		padding: 5px;
	}
</style>

<dom-module id="pwi-image">
	
	<template>
		<div class="panel">
			<div class="panel-heading cf">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve" class="dashline">
					<polygon fill="#894B9D" points="30,30 20.878,30 0,0 9.123,0 "/>
				</svg>
			</div>
			<div class="panel-body">
				<input type="text" placeholder="http://" class="txtImput">
				<button id="btnUpload" is="pwi-save"></button>
			</div>
		</div>
	</template>

	<script>
		Polymer({
			is: 'pwi-image'
		})
	</script>
</dom-module>

<h1>Polymer component demo</h1>

<video is="google-castable-video" width="500">
    <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/big_buck_bunny_1080p.mp4" type="video/mp4">
    <source src="https://bennugd-vlc.googlecode.com/files/big_buck_bunny_480p.webm" type="video/webm"></source>
</video>

<button ng-click="play()">Play</button>
<button ng-click="pause()">Pause</button>